{% extends 'todo_app/base.html' %} {% block content %}

<div class="header">
  <h1>TODOリスト（{{request.user}}さん）</h1>
</div>

<a href="{% url 'create-task' %}">タスク作成</a>

<form action="" method="GET">
  <input type="text" name="search" value="{{search}}">
  <input type="submit" name="検索">
</form>

<table>
  <tr>
    <th>タスク</th>
  </tr>
  {% for task in tasks %}
  <tr>
    <td>{{task.title}}</td>
    <td><a href="{% url 'task' task.id %}">確認</a></td>
    <td><a href="{% url 'edit-task' task.id %}">編集</a></td>
    <td><a href="{% url 'delete-task' task.id %}">削除</a></td>
  </tr>
  {% endfor %}
</table>

<div class="loginAndLogout">
  {% if request.user.is_authenticated %}
  <a href="{% url 'logout' %}">ログアウト</a>
  {% else %}
  <a href="{% url 'login' %}">ログイン</a>
  {% endif %}
</div>
{% endblock content %}